* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/*.encabezado {
    background-image: url(./veterinaria1.jpg);
    background-position: center center;
    background-size: cover;
    height: 500px;
}*/

#subtitulos{
    text-align: center;
}
p{
    text-align:center;
}
#logo {
    height: 400px;
    width: 60%;
    margin: 0 250px;
}
.imagen1{
    height: 400px;
    width: 40%;
}
.texto{
    float: right;
    margin: 0 150px;
}
.menu{
    text-align: right;
    height: 50px;
    width: 100%;
}
.menu li {
    list-style: none;
    display:inline-block;
    margin: 5px;
    padding: 10px;
}.menu li a{
    color: rgb(0, 0, 0);
    font-size: 15px;
    border-radius: 5px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 7px;
}
li a #enlace, li a:hover{
    background: #72dbdf;
    transition: .5s;
    
}

.mapa{
    float: right;
    margin: 0 100px;
}
/*Inicio de Sesion*/
.cuerpoLogin{
    background: -webkit-linear-gradient(to right, #EC6EAD, #3494E6); 
    background: linear-gradient(to right, #EC6EAD, #3494E6);
}
.cuerpoLogin form {
    height: 540px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.formularioLogin input:valid{
    background: white;
}
.formularioLogin input:invalid{
    background: rgb(255, 3, 87);
}
.inicio {
    margin: 15px;
    width: 200px;

}
/*Registros*/
.cuerpoRegistro{
    background: #3494E6; 
    background: -webkit-linear-gradient(to right, #EC6EAD, #3494E6); 
    background: linear-gradient(to right, #EC6EAD, #3494E6); 
}
.cuerpoRegistro form {
    height: 550px;
    display: flex;
    justify-content:center;
    align-items: center;
}
#formularioRegistro {
    width: 100%;
    margin: auto;
}
#formularioRegistro input:valid{
    background: white;
}
#formularioRegistro input:invalid{
    background: rgb(255, 3, 87);
}
.boton{
    padding: 5px;
    margin: 15px;
    width: 200px;
}
/*Agenda*/
.cuerpoAgenda{
    background: -webkit-linear-gradient(to right, #EC6EAD, #3494E6); 
    background: linear-gradient(to right, #EC6EAD, #3494E6);
}
.tituloFormulario {
    text-align: center;
    margin: -2px;
    padding: 5px;
}
.cuerpoAgenda form {
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#formularioAgenda .Usuario:valid{
    background: white;
}
#formularioAgenda .Usuario:invalid{
    background: rgb(255, 3, 87);
}
#formularioAgenda .Mascota:valid{
    background: white;
}
#formularioAgenda .Mascota:invalid{
    background: rgb(255, 3, 87);
}
.form {
    background: linear-gradient(rgb(0,0,0,0.5),rgb(0,0,0,0.5));
    padding: 50px 20px;
    box-shadow: 0 0 6px 0;
    border-radius: 5px;
}
#formularioAgenda {
    width: 100%;
    margin: auto;
}
label {
    padding: 15px;
    margin: 5px;
    color: #fff;
}
input {
    padding: 5px;
    margin: 5px;
    width: 100%;
    border: none;
}

select {
    padding: 5px;
    margin: 5px;
    width: 100%;
}
button {
    padding: 7px;
    margin: 5px;
    width: 100px;
    border: none;
    background: rgb(12, 228, 145);
}
.cancelar{
    padding: 7px;
    margin: 5px;
    width: 100px;
    border: none;
    background: rgb(230, 77, 57);
}

/*Productos*/

h2{
    text-align: center;
    margin-top: 50px;
    font-size: lato;
}
.slider {
    width: 400px;
    height:600px;
    overflow: hidden;
    float: left;
    
}
.slider ul {
    display: flex;
    animation: slide 35s infinite alternate ease-in-out;
    width: 800%;
}

.slider li {
    list-style: none;
    width: 100%;
}
.slider img {
    width: 100%;
    height: 100%;
}
@keyframes slide {
    0%{margin-left: 0%;}
    9%{margin-left: 0%;}
    
    10%{margin-left: -100%;}
    19%{margin-left: -100%;}

    20%{margin-left: -200%;}
    29%{margin-left: -200%;}

    30%{margin-left: -300%;}
    39%{margin-left: -300%;}

    40%{margin-left: -400%;}
    49%{margin-left: -400%;}

    50%{margin-left: -500%;}
    59%{margin-left: -500%;}

    60%{margin-left: -600%;}
    69%{margin-left: -600%;}

    70%{margin-left: -700%;}
    79%{margin-left: -700%;}
}

#slider1 {
    width: 400px;
    height:600px;
    overflow: hidden;
    float:right;
}
#slider1 ul {
    display: flex;
    animation: slide 30s infinite alternate ease-in-out;
    width: 600%;
}

#slider1 li {
    list-style: none;
    width: 100%;
}
#slider1 img {
    width: 100%;
    height: 100%;
}
@keyframes slide {
    0%{margin-left: 0%;}
    10%{margin-left: 0%;}
    
    15%{margin-left: -100%;}
    25%{margin-left: -100%;}

    30%{margin-left: -200%;}
    45%{margin-left: -200%;}

    50%{margin-left: -300%;}
    65%{margin-left: -300%;}

    70%{margin-left: -400%;}
    85%{margin-left: -400%;}

    90%{margin-left: -500%;}
    100%{margin-left: -500%;}

}
/*servicios*/
#banos{
    height: 600px;
    width: 450px;
    border-radius: 5px;
    float: left;
    margin: 20px 185px;
    background: -webkit-linear-gradient(to right, #EC6EAD, #3494E6); 
    background: linear-gradient(to right, #EC6EAD, #3494E6);
}
#banos li{
    list-style: none;
}
#estetica{
    height: 600px;
    width: 450px;
    border-radius: 5px;
    float: left;
    margin: 20px -70px;
    background: -webkit-linear-gradient(to right, #EC6EAD, #3494E6); 
    background: linear-gradient(to right, #EC6EAD, #3494E6);
}
#estetica li{
    list-style: none;
}
#vacunacion{
    height: 655px;
    width: 450px;
    border-radius: 5px;
    float:left;
    margin: 105px 185px;
    
    background: -webkit-linear-gradient(to right, #EC6EAD, #3494E6); 
    background: linear-gradient(to right, #EC6EAD, #3494E6);
}
#vacunacion li{
    list-style: none;
}
#consultas{
    height: 655px;
    width: 450px;
    border-radius: 5px;
    float: left;
    margin: 105px -70px;
    background: -webkit-linear-gradient(to right, #EC6EAD, #3494E6); 
    background: linear-gradient(to right, #EC6EAD, #3494E6);
}
#consultas li{
    list-style: none;
}
#foto{
    margin: 23px;
}
#servicios{
    text-align: center;
}