* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#subtitulos{
    text-align: center;
}
p{
    text-align:center;
}
.logo img{
    height: 100px;
    width: 100px;
    margin: 10px 30px;
}
.nombre h1{
    margin: 0 10px;
}
/*PIE DE PAGINA*/
.piePagina{
    background: #000000;
    width: 100%;
    height: 150px;
}
.infEmpresa{
    color: #fff;
    text-align: center;
}
.infEmpresa li{
    list-style: none;
    display: inline-block;
    margin: 60px 10px;
}
.infEmpresa img{
    width: 50px;
    height: 50px;
}
.texto{
    float: right;
    margin: 0 150px;
}
.menu{
    text-align: right;
    height: 50px;
    width: 100%;
}
.menu li {
    list-style: none;
    display:inline-block;
    margin: 5px;
    padding: 10px;
}.menu li a{
    color: rgb(0, 0, 0);
    font-size: 15px;
    border-radius: 5px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 7px;
}
li a #enlace, li a:hover{
    background: #72dbdf;
    transition: .5s;
    
}
/*SLIDER*/
.carrusel_contenedor{
    position: relative;

}
.carrusel_anterior,
.carrusel_siguiente{
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    border: none;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    line-height: 20px;
    text-align: center;
    background: black;
    color: rgb(238, 236, 236);
    opacity: 90%;
}
.carrusel_anterior:hover,
.carrusel_siguiente:hover{
    opacity: 100%;
    background: rgb(3, 201, 3);
}
.carrusel_anterior{
    left: -5px;
}
.carrusel_siguiente{
    right: -5px;
}
.carrusel_lista{
    overflow: hidden;
}
.carrusel_elemento{
    text-align: center;
    margin: 0px;
}
.carrusel-indicadores .glider-dot{
    background: rgb(0, 0, 0);
    display: block;
    width: 20px;
    height: 20px;
    opacity: 90%;
    border-radius: 25%;
}
.carrusel-indicadores .glider-dot:hover{
    background: rgb(14, 233, 233);
}
.mapa{

    margin: 0 100px;
}
/*Inicio de Sesion*/

.cuerpoLogin form {
    height: 540px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.formularioLogin input:valid{
    background: white;
}
.formularioLogin input:invalid{
    background: rgb(255, 3, 87);
}
.inicio {
    margin: 15px;
    width: 200px;

}

/*Agenda*/

.tituloFormulario {
    text-align: center;
    margin: -2px;
    padding: 5px;
}
.cuerpoAgenda form {
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#formularioAgenda .Usuario:valid{
    background: white;
}
#formularioAgenda .Usuario:invalid{
    background: rgb(255, 3, 87);
}
#formularioAgenda .Mascota:valid{
    background: white;
}
#formularioAgenda .Mascota:invalid{
    background: rgb(255, 3, 87);
}
.form {
    background: linear-gradient(rgb(0,0,0,0.5),rgb(0,0,0,0.5));
    padding: 50px 20px;
    box-shadow: 0 0 6px 0;
    border-radius: 5px;
}
#formularioAgenda {
    width: 100%;
    margin: auto;
}
label {
    padding: 15px;
    margin: 5px;
    color: #fff;
}
input {
    padding: 5px;
    margin: 5px;
    width: 100%;
    border: none;
}

select {
    padding: 5px;
    margin: 5px;
    width: 100%;
}
button {
    padding: 7px;
    margin: 5px;
    width: 100px;
    border: none;
    background: rgb(12, 228, 145);
}
.cancelar{
    padding: 7px;
    margin: 5px;
    width: 100px;
    border: none;
    background: rgb(230, 77, 57);
}

/*Productos*/

h2{
    text-align: center;
    margin-top: 50px;
    font-size: lato;
}

#banos{
    height: 600px;
    width: 450px;
    border-radius: 5px;
    float: left;
    margin: 20px 185px;
    background: -webkit-linear-gradient(to right, #EC6EAD, #3494E6); 
    background: linear-gradient(to right, #EC6EAD, #3494E6);
}
#banos li{
    list-style: none;
}
#estetica{
    height: 600px;
    width: 450px;
    border-radius: 5px;
    float: left;
    margin: 20px -70px;
    background: -webkit-linear-gradient(to right, #EC6EAD, #3494E6); 
    background: linear-gradient(to right, #EC6EAD, #3494E6);
}
#estetica li{
    list-style: none;
}
#vacunacion{
    height: 655px;
    width: 450px;
    border-radius: 5px;
    float:left;
    margin: 105px 185px;
    
    background: -webkit-linear-gradient(to right, #EC6EAD, #3494E6); 
    background: linear-gradient(to right, #EC6EAD, #3494E6);
}
#vacunacion li{
    list-style: none;
}
#consultas{
    height: 655px;
    width: 450px;
    border-radius: 5px;
    float: left;
    margin: 105px -70px;
    background: -webkit-linear-gradient(to right, #EC6EAD, #3494E6); 
    background: linear-gradient(to right, #EC6EAD, #3494E6);
}
#consultas li{
    list-style: none;
}
#foto{
    margin: 23px;
}
#servicios{
    text-align: center;
}